/*
body{
    background-color: blue;
}

h1{
    color: #66F6F6;
}

h3{
    color: #66F6F6;
}
.btn{
    background-color: #2eb872;
    cursor: pointer;
}

thead{
    color: darksalmon;
}

p{
    margin-top: 0;
    margin-left: 310px;
    padding-top: 25px;
    font-size: 1rem;
    width: 60rem;
    padding-bottom: 50px;
}

*/

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}


h1{
    color: #2eb872;
    font-size: 4.625rem;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2{
    color: #2eb872;
    font-family: 'Montserrat', sans-serif;
}

h3{
    color: #16a596;
    margin: 0 auto auto auto;
    font-family: 'Montserrat', sans-serif;
}

hr{
    margin-top: 50px;
    border-style: none;
    border-top-style: dotted;
    border-color: #928a97;
    border-width: 10px;
    width: 5%;
}

.word{
    text-decoration: underline;
}

.pro{
    height: 12.75rem;
    width: 18.75rem;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.down-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}


.programmer{
    font-size: 2rem;
}

.gif{
    width: 12.5rem;
    float: left;
}

.cricket{
    width: 9.375rem;
    float: right;
}

.Top-container{
    background-color: #f2fcfc;
    color: #7d5a5a;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    padding-top: 100px;
}

.bottom-container{
    padding-bottom: 25px;
    background-color: #16a596;
}

.mountain{
    height: 24rem;
    width: 45rem;
}

.skill-row{
    padding-top: 50px;
    width: 50%;
    margin: auto;
}


.mail{
    padding-top: 5%;
    width: 16px;
    height: 16px;
}

.para{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #1a1c20;
    display: inline-block;
    text-align: left;
    width: 70%;
}

.btn {
    margin-bottom: 24px;
    background: #2EB872;
    background-image: -webkit-linear-gradient(top, #2EB872, #1E62D0);
    background-image: -moz-linear-gradient(top, #2EB872, #1E62D0);
    background-image: -ms-linear-gradient(top, #2EB872, #1E62D0);
    background-image: -o-linear-gradient(top, #2EB872, #1E62D0);
    background-image: -webkit-gradient(to bottom, #2EB872, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: auto;
    font-weight: 100;
    padding: px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #2EB872 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #99C624 1px;
    background: #2EB872;
    background-image: -webkit-linear-gradient(top, #2EB872, #1A7A4A);
    background-image: -moz-linear-gradient(top, #2EB872, #1A7A4A);
    background-image: -ms-linear-gradient(top, #2EB872, #1A7A4A);
    background-image: -o-linear-gradient(top, #2EB872, #1A7A4A);
    background-image: -webkit-gradient(to bottom, #2EB872, #1A7A4A);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 a{
     font-family: 'Times New Roman', Times, serif;
     font-size: 1.2rem;
     color: #1a1c20;
     margin: 10px 20px;
 }

 .copy{
     color: #FFFFFF;
     font-size: .75rem;
 }